@model Home

@{
    ViewData["Title"] = @Model.Title;
}

    <section id="IntroductionSection">
        <h1 class="display-4">@Model.Header</h1>
        <p>
            @Model.WelcomeMessage  
        </p>
        <br />
    </section>

@if (@Model.IsSeeded == false)
{
    <div>Not Seeded.</div>
}
else
{
<section id="bodySection">
    <nav id="featuredProducts">
        <header>
            Featured Products
        </header>
        <ul>
            @foreach (var product in Model.FeaturedProducts)
            {
                <li><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id=@product.Id>@product.Name</a></li>
            }
        </ul>
    </nav>

</section>
}