@model CollegeDetails

@{
    ViewData["Title"] = @Model.DisplayName;
}



<section id="headerSection">
    <h1 style="float:left">@Model.DisplayName</h1>

    <div style="float:left">
        <a asp-area="" asp-controller="Colleges" asp-action="Edit" asp-route-id=@Model.Id>[Edit]</a>
    </div>

    <div style="clear:both"></div>
</section>

<section id="filterSection">

    <form asp-controller="Colleges" asp-action="Details" asp-route-id="@Model.Id">

        @await Html.PartialAsync("~/Views/Shared/_FilterOptions.cshtml", @Model.FilterOptionsVM)

    </form>

</section>

<hr />

<section id="totalsSection">

    @await Html.PartialAsync("~/Views/Shared/_SearchTotals.cshtml", @Model.SearchTotalsVM)

</section>

<hr />

<section id="bodySection" style="width: 100%">

    <table style="font-size:9pt; width:100%">

        <tr>
            <th></th>
            <th class="YearColumn">
                Year
            </th>
            <th class="CompanyColumn">
                Company
            </th>
            <th class="CardNumberColumn">
                Card #
            </th>
            <th class="AttributesColumn">
                Attributes
            </th>
            <th class="PersonColumn">
                Person
            </th>

            <th class="TeamColumn">
                Team
            </th>
            <th class="HOFColumn">
                Grade
            </th>
            <th class="CostColumn">
                Cost
            </th>
            <th class="ValueColumn">
                Value
            </th>
        </tr>

        @foreach (var card in Model.Cards)
        {
    <tr>
        <td class="ViewColumn">
            <a asp-area="" asp-controller="Cards" asp-action="View" asp-route-id=@card.Id>[View]</a>
        </td>
        <td class="YearColumn">
            @card.Year
        </td>
        <td class="CompanyColumn">
            @card.Company
        </td>
        <td class="CardNumberColumn">
            @card.CardNumber
        </td>

        <td class="AttributesColumn">
            @card.Attributes
        </td>
        <td class="PersonColumn">
            <a asp-area="" asp-controller="People" asp-action="Details" asp-route-id=@card.PersonId>@card.PersonName</a> @card.HOF
        </td>
        <td class="TeamColumn">
            <a asp-area="" asp-controller="Teams" asp-action="Details" asp-route-id=@card.TeamId>@card.TeamName</a>
        </td>
        <td class="GradeColumn">
            @card.Grade
        </td>
        <td class="CostColumn">
            @card.FormattedCost
        </td>
        <td class="ValueColumn">
            @card.FormattedValue
        </td>
    </tr>
        }
    </table>

</section>